
body {
    position: relative;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    font-family: Arial, Helvetica, sans-serif;
}

.nav-link.active {
    text-decoration: underline;
}

.subtitle {
    color: #998d71;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 5%;
    padding-top: 5%;
}

.subtitle span {
    border-color: #998d71;
    border-bottom: solid;
    border-bottom-width: 3px;
    padding-bottom: 20px;
}

.text-p {
    margin-top: auto;
}

.subcontent {
    /* margin-bottom: 8%; */
    margin: auto;
    padding-bottom: 1%;
}



.bg {
    background: url('./photos/bg.jpg');
    height: 550px;
    text-align: center;
    line-height: 550px;
    position: absolute;
    z-index: -1;
}

.bg-blur {
    float: left;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -o-filter: blur(4px);
    -ms-filter: blur(4px);
    filter: blur(4px);
}

.nav-border {
    border-top: white solid;
    border-bottom: white solid 1px;
    font-weight: 500;
}


nav .active {
    text-decoration: underline;
    text-decoration-color: white;
}

.cursive {
    /* font-family: "Gabriola", "Harrington", "Lucida Calligraphy", "sans-serif"; */
    font-family: Arial, Helvetica, sans-serif;
}

ol {
    margin-bottom: 3%;
}

a {
    color: #5c83bc;
}

.num-large {
    font-size: 30px;
    font-family: 'Harrington', Courier, monospace;
    /* font-family: Arial, Helvetica, sans-serif; */
}

.row.item-start {
    margin: 0px 0px 0px 0px;
}

.row.item-content {
    margin: 0px 0px 0px 15px;

}

.row.item-end {
    margin: 0px 0px 0px 15px;
}

.col-md-2.item-start {
    padding: 0px 0px 0px 0px;
}

.col-md-2.item-content {
    margin: 0px 0px 0px 40px;
}

.col-md-2.item-end {
    margin: 0px 0px 0px 40px;
}

#People img{
    width: 170px;
    height: 170px;
}

#People a{
    display: block;
}

#People p{
    text-align: center;
}

.p_abstract{
    /* overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical; */
    text-indent: 2em;
    margin: 2% ;
    padding: 1%;
    background-color: #f0f0ee;
    /* word-break: keep-all; */
    word-wrap: break-word; 
    /* white-space: pre-wrap;  */
    text-align:justify;  
    /* text-justify:inter-ideograph; */
}
.p_abstract:hover{
    /* overflow: visible;
    -webkit-line-clamp: none; */

}

.p_img{
    position: relative;

}

.p_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* display: block; */
    padding: 10px;
}

.article-title{
    font-weight: bold;
    /* font-size: smaller; */
}
.article-title span{
    /* padding-top: 2%; */
    display: block;
    font-family:'Times New Roman', Times, serif;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: larger;
}

.screen-heading span{
    font-family: Arial, Helvetica, sans-serif;
}

.header-option span{
    font-family: Arial, Helvetica, sans-serif;
}
/* @font-face {
    font-family: "AaJianHaoTi-2";       
    src:url(fonts/AaJianHaoTi-2.ttf);       
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;
    src: url(TEA Group_files/Poppins-Medium.f61a4eb2.ttf);
}

@font-face {
    font-family: Georgia, 'Times New Roman', Times, serif;;
    font-style: normal;
    font-weight: 400;
    src: url(TEA Group_files/Poppins-Regular.8b6af8e5.ttf);
}

@font-face {
    font-family: Georgia, 'Times New Roman', Times, serif;;
    font-style: normal;
    font-weight: 400;
    src: url(TEA Group_files/Poppins-SemiBold.4cdacb8f.ttf);
}

@font-face {
    font-family: Georgia, 'Times New Roman', Times, serif;;
    font-style: normal;
    font-weight: 400;
    src: url(TEA Group_files/Poppins-Bold.a3e0b5f4.ttf);
}

@font-face {
    font-family: Georgia, 'Times New Roman', Times, serif;;
    font-style: normal;
    font-weight: 400;
    src: url(TEA Group_files/Poppins-ExtraBold.544fa4f2.ttf);
}

@font-face {
    font-family: Georgia, 'Times New Roman', Times, serif;;
    font-style: normal;
    font-weight: 400;
    src: url(TEA Group_files/Poppins-Light.f6ea751e.ttf);
}

@font-face {
    font-family: Georgia, 'Times New Roman', Times, serif;;
    font-style: normal;
    font-weight: 400;
    src: url(TEA Group_files/Poppins-Thin.25cd0f68.ttf);
} */

* {
    outline: none;
}

body {
    margin: 0;
    overflow-y: overlay;
    font-family: Georgia, 'Times New Roman', Times, serif;;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, Courier New, monospace;
}

::-webkit-scrollbar {
    width: 6px !important;
    height: 6px !important;
}

body ::-webkit-scrollbar-thumb {
    background-color: hsla(0, 0%, 100%, 0.16);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-track {
    background: hsla(0, 0%, 100%, 0.1);
}

.btn {
    border-radius: 50px;
    padding: 14px 0;
    width: 160px;
    cursor: pointer;
    transition: 0.2s;
    font-family: Georgia, 'Times New Roman', Times, serif;;
}

.btn:active {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
}

@media only screen and (max-width: 568px) {
    .highlighted-btn {
        z-index: -900;
    }
}

.red-border {
    border: 1px solid var(--error-message) !important;
}

.fade-in {
    opacity: 0;
    -webkit-transform: translateY(80px);
    transform: translateY(80px);
    transition: all 0.8s ease;
}

:root {
    --light-blue: #04c3ff;
    --light-blue-shadow: rgba(69, 211, 255, 0.27);
    --sea-green: #0abead;
    --sea-green-dark: #0cbfae;
    --sea-green-extra-dark: #09bead;
    --sea-green-shadow: rgba(11, 190, 173, 0.4);
    --header-hamburger-background: rgba(11, 190, 173, 0.8);
    --orange: #f57f17;
    --dark-orange: #ff5823;
    --orange-shadow: rgba(245, 127, 23, 0.2);
    --white: #fff;
    --black: #333;
    --disabled-btn: rgba(9, 190, 173, 0.47843137254901963);
    --error-message: rgba(228, 79, 79, 0.8196078431372549);
    --toast-error: rgba(228, 79, 79, 0.9803921568627451);
    --toast-shadow: hsla(0, 0%, 61.2%, 0.8901960784313725);
    --toast-success: #0cbfae;
    --loader-color: #0cbfae;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 0;
    padding: 0;
}

.app-heading {
    z-index: 5555;
    margin: 0;
    padding: 0;
}

.profile-container {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 10%;
    min-height: -webkit-fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
    margin-top: 100px;
}

.profile-parent {
    display: flex;
    align-items: center;
    color: #0a5a40;
}

.profile-details-name {
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;;
}

.profile-details-role {
    display: flex;
    flex-direction: column;
    margin: 14px 0 24px;
}

.profile-details-role h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;;
    font-size: 40px;
}

.primary-text {
    font-family: Georgia, 'Times New Roman', Times, serif;;
    color: (--white);
}

.profile-role-tagline {
    display: block;
    font-size: 18px;
    float: left;
    font-family: Georgia, 'Times New Roman', Times, serif;;
    width: 600px;
    height: 300px;
    text-align: justify;
    margin: auto;
}

.profile-picture {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 0 0 var(--white);
    border-radius: 100%;
    height: 300px;
    width: 300px;
    margin: 0 100px 0 0;
    background-size: cover;
}

@media screen and (max-width: 1110px) {
    .profile-details-name {
        font-size: 20px;
    }

    .profile-details-role .PRIMARY-TEXT {
        font-size: 12px;
    }
}

@media screen and (max-width: 970px) {
    .profile-parent {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }

    .profile-picture {
        height: auto;
        width: 100%;
    }

    .profile-role-tagline {
        display: block;
        float: left;
        width: 100%;
    }
}

.row,
.vi-parent {
    display: flex;
}

.column {
    flex: 30% 1;
    padding: 50px;
    margin: 0 0 0 100px;
}

.footer-container {
    height: 17.8%;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.footer-parent {
    width: 100%;
    height: 100%;
    max-width: 1920px;
}

.footer-parent img {
    max-width: 100%;
    height: 120px;
}

@media only screen and (max-width: 1110px) {
    .footer-parent {
        display: flex;
        align-items: flex-end;
    }
}

/* .home-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 10%;
    background-image: url(TEA Group_files/bg.07d5078c.png);
} */

.heading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0 0 50px;
}

.screen-sub-heading {
    letter-spacing: 3px;
    margin: 8px 0 18px;
    font-size: 12px;
    color: #000;
}

.screen-heading {
    font-size: 30px;
    color: #000;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.heading-seperator {
    display: flex;
    align-items: center;
    position: relative;
    width: 180px;
    margin: 10px 0 0;
}

.seperator-line {
    width: 100%;
    height: 2px;
    background-color: #000;
}

.seperator-blob {
    height: 10px;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
}

.seperator-blob div {
    width: 35px;
    border-radius: 10px;
    background-color: rgba(196, 129, 5, 0.849);
}

.news-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.news {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    width: 80%;
    position: relative;
    margin: 0 auto;
}


.people-list {
    width: 50%;
    position: relative;
}

.people-content {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}

.people-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
}

div.gallery-container {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    margin-left: 40px;
    margin-right: 40px;
}

div.gallery {
    border: 0 solid #ccc;
}

div.gallery:hover {
    border: 0 solid #777;
}

div.gallery img {
    width: 35%;
    height: auto;
    margin-bottom: 5px;
    position: relative;
    top: -50%;
    left: 25%;
    vertical-align: middle;
}

a.desc {
    display: block;
}

a.desc,
div.desc {
    padding: 15px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 1000px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.research-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px 0 0;
}

.research-parent {
    max-width: 1000px;
    width: 70%;
}

.research-projects {
    width: 100%;
    box-shadow: 0 0 20px -2px #f5a107;
	/* box-shadow:5px 0px 15px 0px #d1a182; */
    position: relative;
}
.research-projects:hover{
	cursor: pointer;
	border: #dd9106 2px solid;
    box-shadow:0px 0px 10px 5px #f5a107;
}

.project-image {
    float: right;
    width: 50%;
    margin: 20px 0 20px 10px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

.project-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger;
    margin: 40px 0 0;
}

.project-details {
    width: 48%;
    text-align: left;
    padding: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.bottom-bar {
    height: 40px;
    line-height: 27px;
    border-bottom: 1px solid #e5e5e5;
    background: none repeat scroll 0 0 #fcfcfc;
}

@media screen and (max-width: 970px) {
    .project-title {
        padding-top: 15px;
        margin-left: 10px;
    }

    .project-image {
        width: 100%;
        margin: 20px 0 20px 10px;
    }

    .project-details {
        width: 100%;
        padding: 20px;
    }
}

.publications-container {
    margin: 40px auto;
}

.publication-introduction {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}

.publication-content,
.publication-introduction {
    width: 80%;
    position: relative;
    margin: 0 auto;
}

.publication-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}

.publication-autors,
.publication-journal {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
}

.publication-journal {
    font-style: italic;
}

.forward {
    margin: 0 auto;
}

.content,
.forward {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    width: 80%;
    position: relative;
}

.content {
    margin: 20px auto;
}

.ack-parent {
    align-content: center;
}

.ack-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    position: relative;
    left: 45%;
    margin: 5px 0;
}

.items {
    margin: 50px;
}

.ack-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.gal-parent {
    align-content: center;
}

.gal-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.window {
    width: 30%;
    margin: auto auto 40px;
}

@media only screen and (max-width: 1500px) {
    .window {
        width: 40%;
    }
}

@media only screen and (max-width: 970px) {
    .window {
        width: 60%;
    }
}

@media only screen and (max-width: 500px) {
    .window {
        width: 80%;
    }
}

.carousel-control-next,
.carousel-control-prev {
    opacity: 0.8;
}

.header {
    background-color: #f3f4f6;
    width: 100%;
}

.header-container {
    display: flex;
    justify-content: center;
    height: 120px;
    color: #000;
}

.header-parent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 70%;
    color: #000;
}

.header-logo {
    display: flex;
    width: 170px;
    height: 76px;
    margin-right: 20px;
}

.header-option {
    font-size: 100%;
    cursor: pointer;
    font-weight: 600;
}

.header-hamburger {
    display: none;
    color: #000;
}

.header-option-seperator {
    margin: 0 25px 0 0;
    color: #000;
}

.selected-header-option {
    color: brown;
}

@media only screen and (max-width: 1110px) {
    .header-parent {
        width: 80%;
    }
}

@media only screen and (max-width: 970px) {
    .header-hamburger {
        display: block;
        margin-left: 50px;
    }

    .header-parent {
        width: 100%;
    }

    .header-logo {
        display: block;
        margin: 0 auto;
        width: 170px;
        height: 76px;
    }

    .header-options {
        display: flex;
        flex-direction: column;
        position: absolute;
        left: -100%;
        top: 0;
        height: 100vh;
        width: 50%;
        padding-left: 15px;
        justify-content: space-around;
        background-color: #faebd7;
        z-index: 1000;
        opacity: 0.8;
        transition: all 0.8s ease-out;
    }

    .header-option-seperator {
        margin: 0;
    }

    .header-option,
    .selected-header-option {
        color: #000;
    }

    .header-hamburger-bars {
        font-size: 200%;
        cursor: pointer;
        margin: 0 10%;
        color: #000;
    }

    .show-hamburger-options {
        left: 0;
        opacity: 1;
    }
}

.parent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 100px;
    padding: 0;
}

.header {
    position: absolute;
    z-index: 5555;
}

.lab-container,
.screen {
    margin: auto;
    position: relative;
}

.screen {
    display: flex;
    flex-direction: column;
}
