.container {
    text-align: center;
    padding-top: 80px;
    max-width: 1100px; /* 容器的最大宽度，确保在较小屏幕上的适应性 */
    margin: 0 auto; /* 水平居中对齐 */
    margin-top: 20px; /* 顶部外边距 */
    padding-left: 20px; /* 左内边距 */
    padding-right: 20px; /* 右内边距 */
    text-align: left; /* 文本左对齐 */
    font-size: 25px;
}

.container h2 {
    font-size: 30px;
    color: rgb(30, 108, 147);
}

.container .title p {
    font-size: 25px;
}

.container .nav {
    width: 1000px;
    margin: 0 auto;
    margin-top: 20px;
    /* display: flex; /* 确保已经定义flex布局 */
    /* justify-content: space-between; */
}

.container .nav a {
    color: black;
    font-size: 20px;
    margin-left: 10px; /* 为链接添加左边距 */
    margin-right: 10px; /* 为链接添加右边距 */
}

.container .nav a:first-child {
    margin-left: 0; /* 第一个链接的左边距设置为0 */
}

.container .nav a:last-child {
    margin-right: 0; /* 最后一个链接的右边距设置为0 */
}

.container .jieshao {
    width: 700px;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.container .jieshao p {
    font-size: 20px;
}

.menu {
    width: 100%;
    margin: 0 auto;
    margin-top: 20px; 
    text-align: center;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
}

.menu a {
    display: inline-block;
    margin: 20px;
    background-color: rgb(30, 108, 147);
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
}

.menu a:hover {
    border: 1px solid white;
    box-shadow: 0px 1px 10px gray;
}
.container .Abstract {
    max-width: 1100px; /* 容器的最大宽度风险，确保在较小屏幕上的适应性 */
    margin: 0 auto; /* 水平居中对齐 */
    margin-top: 20px; /* 顶部外边距 */
    padding-left: 20px; /* 左内边距 */
    padding-right: 20px; /* 右内边距 */
    text-align: left; /* 文本左对齐 */
    font-size: 25px;
}

.container .Abstract p {
    font-size: 20px;
    text-align: justify;
    hyphens: auto;
    /* 你可以移除width: 100%;因为<p>标签本身就是块级元素，会自动占满容器的宽度 */
}
.content h1.title {
    text-align: center; /* 标题居中对齐 */
    font-size: 25px; /* 标题文字大小 */
    margin-top: 10px; /* 顶部外边距 */
    margin-bottom: 20px; /* 标题底部外边距 */
}

.image-container {
    text-align: center; /* 使图片居中对齐 */
    margin-top: 20px; /* 图片顶部外边距 */
}
.image-container img {
    max-width: 1400px; /* 设置图片的最大宽度 */
    width: 100%; /* 确保图片宽度不会超过其容器 */
    height: auto; /* 高度自动调整，维持宽高比 */
}

.image-wrapper {
    text-align: center; /* 使图片居中对齐 */
    margin-top: 20px; /* 图片顶部外边距 */
}

.image-wrapper img {
    max-width: 1400px; /* 设置图片的最大宽度 */
    max-width: 100%;
    height: auto;
}

.image-description,
.image-caption {
    margin-top: 10px;
    font-size: 16px;
    text-align: center;
}




.container .citation {
    width: 1350px;
    margin: 0 auto;
    margin-top: 50px;
    text-align: left;
}

.container .citation p {
    font-size: 25px;
    color: rgb(30, 108, 147);
}

.container .citation span {
    font-size: 15px;
}

.container .citation div {
   max-width: 1100px;
    background-color: rgb(240, 240, 240);
    padding: 10px;
    margin-top: 10px;
    line-height: 28px;
    font-weight: 200;
}

@media screen and (max-width: 768px) {
    .container h2 {
        font-size: 25px;
        color: rgb(30, 108, 147);
    }

    .container .nav {
        width: 90%;
        margin: 0 auto;
        display: block;
        line-height: 30px;
    }

    .container .nav a {
        margin: 0 10px;
    }

    .container .jieshao {
        width: 90%;
        margin: 0 auto;
        margin-top: 20px;
        display: block;
    }

    .container .menu {
        width: 95%;
        margin: 0 auto;
        margin-top: 80px;
    }

    .container .menu a {
        display: inline-block;
        width: 37%;
        margin: 0 10px;
        margin-bottom: 30px;
        background-color: rgb(30, 108, 147);
        color: white;
        text-decoration: none;
        padding: 8px 10px;
        border-radius: 5px;
    }

    .container .banner {
        width: 100%;
        margin: 0 auto;
        margin-top: 80px;
    }

    .container .citation {
        width: 100%;
        margin: 0 auto;
        margin-top: 50px;
        text-align: left;
    }
}
