.container{
    text-align: center;
    padding-top: 80px;
}
.container h2{
    font-size: 30px;
    color: rgb(30, 108, 147);
}
.container .title p{
    font-size: 25px;
}
.container .nav{
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.container .nav a{
    color: black;
    font-size: 20px;
}
.container .jieshao{
    width: 600px;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 16px
}
.container .jieshao p{
    font-size: 15px;
}
.container .menu{
    width: 1400px;
    margin: 0 auto;
    margin-top: 80px;
}
.container .menu a{
    display: inline-block;
    width: 12%;
    margin: 0 20px;
    background-color: rgb(30, 108, 147);
    color: white;
    text-decoration: none;
    padding:8px 10px;
    border-radius: 5px;
}
.container .menu a:hover{
    border: 1px solid white;
    box-shadow: 0px 1px 10px gray;
}
.container .banner{
    width: 1350px;
    margin: 0 auto;
    margin-top: 80px;
}
.container .banner video{
    width: 100%;
}
.container .citation{
    width: 1350px;
    margin: 0 auto;
    margin-top: 50px;
    text-align: left;
}
.container .citation p{
    font-size: 25px;
    color: rgb(30, 108, 147);
}
.container .citation span{
    font-size: 15px;
}
.container .citation div{
    width: 100%;
    background-color: rgb(240, 240, 240);
    padding: 10px;
    margin-top: 10px;
    line-height: 28px;
    font-weight: 200;
}
@media screen and (max-width: 768px) {
    .container h2{
        font-size: 25px;
        color: rgb(30, 108, 147);
    }
    .container .nav{
        width: 90%;
        margin: 0 auto;
        display: block;
        line-height: 30px;
    }
    .container .nav a{
        margin: 0 10px;
    }
    .container .jieshao{
        width: 90%;
        margin: 0 auto;
        margin-top: 20px;
        display: block;
    }
    .container .menu{
        width: 95%;
        margin: 0 auto;
        margin-top: 80px;
    }
    .container .menu a{
        display: inline-block;
        width: 37%;
        margin: 0 10px;
        margin-bottom: 30px;
        background-color: rgb(30, 108, 147);
        color: white;
        text-decoration: none;
        padding:8px 10px;
        border-radius: 5px;
    }
    .container .banner{
        width: 100%;
        margin: 0 auto;
        margin-top: 80px;
    }
    .container .citation{
        width: 100%;
        margin: 0 auto;
        margin-top: 50px;
        text-align: left;
    }
}
