.container{
    text-align: center;
    padding-top: 80px;
}
.container h2{
    font-size: 30px;
    color: rgb(30, 108, 147);
}
.container .title p{
    font-size: 25px;
}
/* .container .nav{
    width: 1400px;
    margin: 0 auto;
    margin-top: 20px;
    justify-content: space-between;
}
.container .nav a{
    color: black;
    font-size: 20px;
    
} */
.container .nav {
    width: 1000px;
    margin: 0 auto;
    margin-top: 20px;
/*     display: flex; /* 确保已经定义flex布局 */
    justify-content: space-between; */
}

.container .nav a {
    color: black;
    font-size: 20px;
    margin-left: 10px; /* 为链接添加左边距 */
    margin-right: 10px; /* 为链接添加右边距 */
}

.container .nav a:first-child {
    margin-left: 0; /* 第一个链接的左边距设置为0 */
}

.container .nav a:last-child {
    margin-right: 0; /* 最后一个链接的右边距设置为0 */
}

.container .jieshao{
    width: 700px;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.container .jieshao p{
    font-size: 15px;
}
.container .menu{
    width: 1400px;
    margin: 0 auto;
    margin-top: 20px;
}
.container .menu a{
    display: inline-block;
    width: 12%;
    margin: 0 20px;
    background-color: rgb(30, 108, 147);
    color: white;
    text-decoration: none;
    padding:8px 10px;
    border-radius: 5px;
}
.container .menu a:hover{
    border: 1px solid white;
    box-shadow: 0px 1px 10px gray;
}
/* .container .Abstract{
    width: 1400px;
    margin: 0 auto;
    margin-top: 80px;
    text-align: left;
}
.container .Abstract p{
    width: 100%;
    
} */
.container .Abstract{
    width: 1000px; /* 或者设为 max-width: 1400px; 以适应较小的屏幕 */
    margin: 0 auto; /* 居中对齐 */
    margin-top: 80px; /* 顶部外边距 */
    text-align: left; /* 文本左对齐 */
}

.container .Abstract p{
    width: 100%; /* p元素的宽度占满容器 */
    padding-left: 40px; /* 增加左内边距 */
    padding-right: 40px; /* 增加右内边距 */
}
.container .citation{
    width: 1350px;
    margin: 0 auto;
    margin-top: 50px;
    text-align: left;
}
.container .citation p{
    font-size: 25px;
    color: rgb(30, 108, 147);
}
.container .citation span{
    font-size: 15px;
}
.container .citation div{
    width: 100%;
    background-color: rgb(240, 240, 240);
    padding: 10px;
    margin-top: 10px;
    line-height: 28px;
    font-weight: 200;
}
@media screen and (max-width: 768px) {
    .container h2{
        font-size: 25px;
        color: rgb(30, 108, 147);
    }
    .container .nav{
        width: 90%;
        margin: 0 auto;
        display: block;
        line-height: 30px;
    }
    .container .nav a{
        margin: 0 10px;
    }
    .container .jieshao{
        width: 90%;
        margin: 0 auto;
        margin-top: 20px;
        display: block;
    }
    .container .menu{
        width: 95%;
        margin: 0 auto;
        margin-top: 80px;
    }
    .container .menu a{
        display: inline-block;
        width: 37%;
        margin: 0 10px;
        margin-bottom: 30px;
        background-color: rgb(30, 108, 147);
        color: white;
        text-decoration: none;
        padding:8px 10px;
        border-radius: 5px;
    }
    .container .banner{
        width: 100%;
        margin: 0 auto;
        margin-top: 80px;
    }
    .container .citation{
        width: 100%;
        margin: 0 auto;
        margin-top: 50px;
        text-align: left;
    }
}
